{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/tiles_overview.css' %}">
    <style>
        html, body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body><!-- The overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="menu" id="menu">
        <br><br><br>
        <a id="maps">Maps</a>
        <a id="captcha">Captcha</a>

    </div>

</div>
<script>
    document.onreadystatechange = async function() {
      const response = await fetch('/get_statistics');
    const json = await response.json();

    console.log(json);
    var ai = document.getElementById("ai");
    var cap = document.getElementById("cap");
    var dataset = document.getElementById("dataset");
    ai.innerHTML = json.ai;
    cap.innerHTML = json.cap;
    dataset.innerHTML = json.dataset;

  }
    $(document).ready(function () {
        $(menu).click(function (event) {
                console.log(event.target.id)
             if(event.target.id === 'maps')
                 location.assign('/');
             else
                location.assign('/' + event.target.id + '/');
            document.getElementById("current").innerHTML = event.target.id;
        });
    });
</script>
<!-- Use any element to open/show the overlay navigation menu -->
<div class="top">
    <span class="open" onclick="openNav()">  &nbsp;&nbsp<i class="fa fa-bars"
                                                           id="open"> Menu &nbsp;&nbsp;|&nbsp; </i></span>
</div>

<div class="data">
    <h2>Total number of tiles</h2>
    <div class="labels">
    <span>Classified by AI:</span><br>
    <br><span>Registered by Captcha:</span><br>
    <br><span>Dataset:</span><br>
    </div>
    <div class="results">
    <span id="ai">loading...</span><br>
    <br><span id="cap">loading...</span><br>
    <br><span id="dataset">loading...</span><br>
    </div>
</div>

<script src="{% static 'js/tile_overview.js' %}" type="text/javascript"></script>

</body>
</html>