{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/captcha.css' %}"/>
        <script src="{% static '/js/captcha.js' %}"></script>
    </head>
<body>
    <div id="box">
        <div id="not_a_robot_checkbox" onclick="check()">
            <img id="checkmark" src="{% static '/img/checkmark.png' %}">
        </div>
        <div id="not_a_robot_text">I am not a robot</div>
    </div>

    <div id="challenge1" class="popup">
        <img src="{% static '/img/tile_75315.png' %}" class="ch_img"> <br/>

        Please select the objects that you see in the map: <br/>

        <input type="checkbox" autocomplete="off"/> Building <br/>
        <input type="checkbox" autocomplete="off"/> Water <br/> 
        <input type="checkbox" autocomplete="off"/> Church <br/>
        <input type="checkbox" autocomplete="off"/> Oil Tank <br/> 

        <button type="button" class="ch_submit">Submit</button> 
    </div>

    <div id="challenge2" class="popup">
        Alabala 2
    </div>
</body>
</html>