.esri-ui {
    bottom: 0 !important;
    height: 95%;
}

html, body, #map {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.esri-popup__footer, .esri-popup__button--dock {
    visibility: hidden;
}

.esri-ui-top-left {
    margin-top: 30%;
}

.esri-view-root {
    margin: 0 !important;
}

.esri-ui-list, .esri-editor, .esri-ui-top-left {
    margin-left: 97.7%;
}

.esri-layer-list__list, .esri-zoom, .esri-editor, #coordsWidget {
    opacity: 95%;
}


#current {
    font-size: 30px;
    color: var(--main-white);
}


/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-cyan);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.button {
    background-color: rgba(157, 179, 191, 0.46);
    border-radius: 20px;
    border: 2px solid rgba(240, 240, 240, 0.7);
    display: inline-block;
    cursor: pointer;
    color: #d7ecf6;
    font-size: 19px;
    height: 30px;
    margin-right: 20px;
    text-shadow: 0px 1px 0px #2f6627;
}

.buttons:hover {
    background-color: rgba(42, 170, 191, 0.34);
}

.buttons {
    margin-top: -32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}